@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-Light.eot');
    src: local('Beatrice Deck Light'), local('BeatriceDeck-Light'),
        url('BeatriceDeck-Light.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-Light.woff2') format('woff2'),
        url('BeatriceDeck-Light.woff') format('woff'),
        url('BeatriceDeck-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-BoldItalic.eot');
    src: local('Beatrice Deck Bold Italic'), local('BeatriceDeck-BoldItalic'),
        url('BeatriceDeck-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-BoldItalic.woff2') format('woff2'),
        url('BeatriceDeck-BoldItalic.woff') format('woff'),
        url('BeatriceDeck-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-Bold.eot');
    src: local('Beatrice Deck Bold'), local('BeatriceDeck-Bold'),
        url('BeatriceDeck-Bold.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-Bold.woff2') format('woff2'),
        url('BeatriceDeck-Bold.woff') format('woff'),
        url('BeatriceDeck-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-LightItalic.eot');
    src: local('Beatrice Deck Light Italic'), local('BeatriceDeck-LightItalic'),
        url('BeatriceDeck-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-LightItalic.woff2') format('woff2'),
        url('BeatriceDeck-LightItalic.woff') format('woff'),
        url('BeatriceDeck-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-Extrabold.eot');
    src: local('Beatrice Deck Extrabold'), local('BeatriceDeck-Extrabold'),
        url('BeatriceDeck-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-Extrabold.woff2') format('woff2'),
        url('BeatriceDeck-Extrabold.woff') format('woff'),
        url('BeatriceDeck-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-ExtraboldItalic.eot');
    src: local('Beatrice Deck Extrabold It'), local('BeatriceDeck-ExtraboldItalic'),
        url('BeatriceDeck-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-ExtraboldItalic.woff2') format('woff2'),
        url('BeatriceDeck-ExtraboldItalic.woff') format('woff'),
        url('BeatriceDeck-ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-ThinItalic.eot');
    src: local('Beatrice Deck Thin Italic'), local('BeatriceDeck-ThinItalic'),
        url('BeatriceDeck-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-ThinItalic.woff2') format('woff2'),
        url('BeatriceDeck-ThinItalic.woff') format('woff'),
        url('BeatriceDeck-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-Thin.eot');
    src: local('Beatrice Deck Thin'), local('BeatriceDeck-Thin'),
        url('BeatriceDeck-Thin.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-Thin.woff2') format('woff2'),
        url('BeatriceDeck-Thin.woff') format('woff'),
        url('BeatriceDeck-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-Medium.eot');
    src: local('Beatrice Deck Medium'), local('BeatriceDeck-Medium'),
        url('BeatriceDeck-Medium.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-Medium.woff2') format('woff2'),
        url('BeatriceDeck-Medium.woff') format('woff'),
        url('BeatriceDeck-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-RegularItalic.eot');
    src: local('Beatrice Deck Regular Ital'), local('BeatriceDeck-RegularItalic'),
        url('BeatriceDeck-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-RegularItalic.woff2') format('woff2'),
        url('BeatriceDeck-RegularItalic.woff') format('woff'),
        url('BeatriceDeck-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-MediumItalic.eot');
    src: local('Beatrice Deck Medium Itali'), local('BeatriceDeck-MediumItalic'),
        url('BeatriceDeck-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-MediumItalic.woff2') format('woff2'),
        url('BeatriceDeck-MediumItalic.woff') format('woff'),
        url('BeatriceDeck-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-Regular.eot');
    src: local('Beatrice Deck Regular'), local('BeatriceDeck-Regular'),
        url('BeatriceDeck-Regular.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-Regular.woff2') format('woff2'),
        url('BeatriceDeck-Regular.woff') format('woff'),
        url('BeatriceDeck-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Deck';
    src: url('BeatriceDeck-SemiboldItalic.eot');
    src: local('Beatrice Deck Semibold Ita'), local('BeatriceDeck-SemiboldItalic'),
        url('BeatriceDeck-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('BeatriceDeck-SemiboldItalic.woff2') format('woff2'),
        url('BeatriceDeck-SemiboldItalic.woff') format('woff'),
        url('BeatriceDeck-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

