@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.ahxterix-text {
  background: linear-gradient(to right,#1893f8, #1893f8,#061bb0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background-color: #1557e5; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #061bb0; 
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: 'CS Rocky';
  src: url('/fonts/cs-rocky/CSRockyRegular.otf');
  
}